.separator{
    border-top: 1px solid $highlight-color;
}
.footer {
    z-index: 99;
    gap: 2em;
    padding-bottom: 3em;
}
.footer__contact-content{
    gap: 1em;
}
.footer__social-icons{
    gap: 2em;
    i{
        color: $highlight-color;
    }
}
.button__submit{
    background-color: $highlight-color;
}
