<header>
    <nav role="navigation" class="w-full justify-end items-center h-20 fixed flex nav">     
      <a class="nav-link mr-auto" href="index.html" title="Home">
        <img class="h-16 active:scale-20" src="assets/images/logo-home.png" alt="home-logo">
      </a>  
      <ul class="nav__container flex items-center flex-row">
        <li class="nav__container--item"><a class="link__nav" href="members.html" title="Members">Members</a>
        </li>
        <li class="nav__container--item"><a class="link__nav" href="" title="Bio">Bio</a>
        </li>
        <li class="nav__container--item"><a class="link__nav" href="" title="Merch">Merch</a>
        </li>
      </ul> 
    </nav>
</header>